main{
	margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5rem;
}
h1 {
    text-shadow: 2px 2px #CCC;
}
h3{
	font-size: 1.25rem;
	font-family: Tahoma, Geneva, sans-serif;
	color: #000;
}
.green{
	background-color: #29C16B;
}
.red{
	background-color: #FF4244;
}
.blue{
	background-color: #10C1F8;
}
.yellow{
	background-color: #EABA3F;
}
#gamebody{
	position: relative;
	border: 3px solid;
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #828281;
	border-style: outset;
	border-color: #CCC;
	border-width: 10px;
}
.button{
	height: 150px;
	width: 150px;
	opacity: .5;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	border-width: 3px;
}
.styling{
	border: 2px solid;
	border-style: outset;
	border-color: #CCC;
}
.buttonDown{
	border-style: inset;
}
#start{
	z-index: 10;
	position: absolute;
	right: 163px;
	top: 160px;
	border-width: 2px;
}